<div class="container">
    <h1>Makeup Kit</h1>
    <div *ngIf="makeup">
        <div *ngFor="let item of makeup;let i= index;">
            <p>{{ item.id}}</p>
            <p>{{ item.item}}</p>
            <p>{{ item.MRP}}</p>
          
            <p>{{ item.size}}</p>
            <p>{{ item.brandName}}</p>
            <div style="display: flex;">available color :
                <span *ngFor="let data of item.color; let i=index; let first = first;let last = last;">
                    {{data}}

                    <span *ngIf="i !== item.color.length-1">,</span> <span *ngIf="last">.</span>
                </span>
            </div>
        </div>
    </div>

    <br>
    <br>
    <div *ngFor="let item of electronics; let i=index; let last=last ; let first=first" [ngSwitch]="item.brandName">

        <p *ngSwitchCase="'Phylips'">
            <span [ngClass]="{'myclass': last}">{{item.item}}</span>
            <span
                [ngStyle]="{'color': first ? 'blue' : 'red','font-size':  first ? '30px' : '15px' }">{{item.MRP}}</span>
        </p>
        <p *ngSwitchCase="'sony'">
            <span>{{item.item}}</span>
            <span appCustomeDirective [defaultColor]="'Yellow'" [highlightColor]="'grey'">{{item.MRP}}</span>
        </p>
        <p *ngSwitchCase="'xyz'">
            <span>{{item.item}}</span>
            <span>{{item.MRP}}</span>
        </p>
        <p *ngSwitchDefault>
            no brand available ....!
        </p>
    </div>



</div>

<div class="container electronics">
    <div class="row" *ngIf="makeup" >
        <div class="col-md-4" *ngFor="let item of makeup; let i=index; let first=first" >
            <div class="card" >
                <img src="{{item.img}}" class="card-img-top" alt="...">
                <div class="card-body" >
                    <h5 class="card-title">Makeup </h5>
                    <p class="card-text">SHANY Gift Surprise - AMAZON EXCLUSIVE - All in One Makeup Bundle - Includes Pro Makeup Brush Set, Eyeshadow Palette,Makeup Set or Lipgloss Set and etc. - COLORS & SELECTION VARY</p>
                    <p  class="card-text">{{ item.id}}</p>
                    <p  class="card-text">{{ item.item}}</p>
                    <p  class="card-text">{{ item.MRP}}</p>
                    <p  class="card-text">{{ item.size}}</p>
                    <p  class="card-text">{{ item.brandName}}</p>
                    <div style="display: flex;" >Available Colors:
                        <span *ngFor="let data of item.color; let i=index; let first = first;let last = last;"> {{data}} 
                        <span *ngIf="i !==item.color.length-1">,</span ><span *ngIf="last">.</span>
                        
                    </span>
                    </div>
                    <a  class="btn btn-primary">Add to cart</a>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://m.media-amazon.com/images/I/51elbksswYS.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">SHANY </h5>
                    <p class="card-text">SHANY Gift Surprise - AMAZON EXCLUSIVE - All in One Makeup Bundle - Includes Pro Makeup Brush Set, Eyeshadow Palette,Makeup Set or Lipgloss Set and etc. - COLORS & SELECTION VARY</p>
                    <p  class="card-text">{{ item.id}}</p>
                    <p  class="card-text">{{ item.item}}</p>
                    <p  class="card-text">{{ item.MRP}}</p>
                    
                    <p  class="card-text">{{ item.brandName}}</p>
                    <a  class="btn btn-primary">Add to cart</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://m.media-amazon.com/images/I/813mTyG4F2L._SX466_.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">SHANY </h5>
                    <p class="card-text">SHANY Gift Surprise - AMAZON EXCLUSIVE - All in One Makeup Bundle - Includes Pro Makeup Brush Set, Eyeshadow Palette,Makeup Set or Lipgloss Set and etc. - COLORS & SELECTION VARY</p>
                    <p  class="card-text">{{ item.id}}</p>
                    <p  class="card-text">{{ item.item}}</p>
                    <p  class="card-text">{{ item.MRP}}</p>
                    
                    <p  class="card-text">{{ item.brandName}}</p>
                    <a  class="btn btn-primary">Add to cart</a>
                </div>
            </div>
        </div> -->
    </div>
</div>
<div *ngIf="electronics">
    <h1>This is Electronics component</h1>
    <app-electronics [beautyElectronics]="electronics" ></app-electronics>
</div>
