<h1>This is UserList Information</h1>

<p>{{params.userName}}</p>
<p>{{params.userId}}</p>
<p>{{userInfo | json}}</p>

<table>
    <tr>
        <th *ngFor="let column of headers"></th>
    </tr>
    <tr *ngFor="let row of rows">
        <th > </th>
    </tr>
</table>