<!-- <app-nav [fromparent]="parentMsg"></app-nav> -->
<!-- <div *ngIf="webSitepictures">
    <app-comp2 [pictures]="webSitepictures"></app-comp2>

</div> -->

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/CategoryImages/Beauty.png" class="carousel-img" routerLink='/products/beauty'>
      <div class="carousel-caption ">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/CategoryImages/Electronics.png" class="carousel-img" routerLink='/products/electronics'>
      <div class="carousel-caption ">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/CategoryImages/Fashion.png" class="carousel-img" routerLink='/products/fashion'>
      <div class="carousel-caption ">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/CategoryImages/Home.png" class="carousel-img" routerLink='/products/home-furniture'>
      <div class="carousel-caption ">
        <h5>Fourth slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!--End of Carousel tiles-->

<div class="container latest-prod" >
  <div class="row" *ngIf="homeProducts">
    <div class="col-md-3" *ngFor="let homeProduct of homeProducts; let i=index">
      <div class="card" >
        <img src="{{homeProduct.img}}" class="card-img-top" alt="...">
        <div class="card-body" >
          <h5 class="card-title">{{homeProduct.category}}</h5>
          <p class="card-text">{{homeProduct.title}}</p>
          <p class="card-text">{{homeProduct.description}}</p>
          <p class="card-text">${{homeProduct.price}}</p>
          <a  class="btn btn-primary">Add to cart</a>
        </div>
      </div>
    </div>
    
     <!-- <div class="col-md-3"> 
      <div class="card" style="width: 18rem;">
        <img src="{{homeProduct.img}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{homeProduct.category}}</h5>
          <p class="card-text">{{homeProduct.title}}</p>
          <p class="card-text">{{homeProduct.description}}</p>
          <p class="card-text">{{homeProduct.price}}</p>
          <a  class="btn btn-primary">Add to cart</a>
          
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <img src="https://m.media-amazon.com/images/I/61hJ2evg94L._AC_UL480_QL65_.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{homeProduct.category}}</h5>
          <p class="card-text">{{homeProduct.title}}</p>
          <p class="card-text">{{homeProduct.description}}</p>
          <p class="card-text">{{homeProduct.price}}</p>
          <a  class="btn btn-primary">Add to cart</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <img src="https://m.media-amazon.com/images/G/01/goldbox/images/faceout/Electronics_white._CB468586680_.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{homeProduct.category}}</h5>
          <p class="card-text">{{homeProduct.title}}</p>
          <p class="card-text">{{homeProduct.description}}</p>
          <p class="card-text">{{homeProduct.price}}</p>
          <a  class="btn btn-primary">Add to cart</a>
        </div>
      </div>
    </div>  -->
  </div>
</div>