<div class="container">

    <div>
        <button (click)="navToMain()">Back to Main</button>
    </div>
    <div *ngIf="fatherInfo">
        <h1>My all assets</h1>
        <p>{{fatherInfo.genes}}</p>
        <p>{{fatherInfo.surname}}</p>
        <p>{{fatherInfo.qualities}}</p>
        <p>{{fatherInfo.money}}</p>
    </div>
    <div *ngIf="fatherInfo && fatherInfo.assets">
        <h4>Assets information</h4>
        <p>{{fatherInfo.assets.home}}</p>
        <p>{{fatherInfo.assets.money}}</p>

        <p>{{fatherInfo.assets.property}}</p>

        <p>{{fatherInfo.assets.vehicle}}</p>

    </div>

    <div *ngIf="familyPictures">
        <app-comp2 [pictures]="familyPictures" (goForRide)=getReadyForRidewithBoy($event);></app-comp2>

    </div>
</div>