<div class="container">
    <div *ngIf="pictures">
        <div style="display: flex">
            <div *ngFor="let data of pictures;"  >
                    <img src="{{data.pictureUrl}}" alt="" style="height: 200px;width: 200px;">
                    <p>
                        {{  data.eDate | date: 'MM/dd/yyyy' }}
                    </p>
                    <p>
                        {{data.CEOName | uppercase}}
                    </p>
                    <p>
                        {{salary | square}}
                    </p>
                    <p>
                        {{math | power: exp }}
                    </p>
            </div>
    
             <p>
                {{pictures[0].CEOName}}
            </p> 
        </div>
        
    </div>
    <div>
        <button (click)="passingSignal();">Send info to parent</button>
    </div>
</div>