
<div class="container">
    <div class="row" *ngIf="beautyElectronics">
        <div class="col-md-3" *ngFor="let data of beautyElectronics">
            <div class="card">
                <div class="card-title"></div>
                <h5>Electronics</h5>
                <p>{{data.id}}</p>
                <p>{{data.item}}</p>
                <p>{{data.MRP}}</p>
                <p>{{data.brandName}}</p>
               
            </div>
        </div>
        <div class="col-md-3">
            <div class="card"> card</div>
        </div>
        <div class="col-md-3">
            <div class="card">card</div>
        </div>
        <div class="col-md-3">
            <div class="card">card</div>
        </div>
    </div>
</div>
<div class="container">
    <h1>This is Electronics component</h1>
</div>

