
<div class="container">
    
        <button class="btn btn-primary" routerLink=''>Home</button>
        <button class="btn btn-primary" routerLink='/login'>Login</button>
        <button class="btn btn-primary" routerLink='/signup'>signup</button>
        <button class="btn btn-primary"  (click)='navToUsers()'>Users</button>
       
</div>